$primary-bg: rgba(167, 163, 163, 0.089);
$seconday-bg: white;
$invisable-color: rgba(0, 0, 0, 0);
$logo-color:#007bff;

$test-bg: rgba(255, 0, 0, 0.391);

$login-container-width: 350px;
$login-inside-width: 252px;

