@import "var";

body {
    font-weight: 400;
    font-family: "Public Sans", sans-serif;
    background-image: url("/img/funky-lines.png");
}

// *bootstrap -------------------------------------
.navbar {
    height: 41px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.top-wrapper{
    padding-top: 90px;
}
.login > .container {
    max-width: $login-container-width;
    align-items: center;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 2px;
    background-color: $seconday-bg;
    padding: 10px 0;
}

.form-control {
    font-size: 11px;
    height: 36px;
    background-color: $primary-bg;
}

.btn-sm {
    width: $login-inside-width;
}

.card-body {
    margin: 2px 0px;
}
.input-group-text {
    background-color: $invisable-color;
    border-color: $invisable-color;
    padding: 1px 2px;
}

.card{
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    border: 1px solid rgba(114, 114, 114, 0.254);
}

// *my classes

.backgroundImg {
    background-image: url("/img/nike.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -350px;
    background-blend-mode: soft-light;
    background-size: 100% 100%;
}

.productImg {
    margin-top: 1px;
    height: 152px;
    width: 204px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.152);
}

.productPannle {
    background-color: rgba(255, 255, 255, 0.864);
    border: 1px solid rgba(0, 0, 0, 0.152);
    padding: 2px 6px;
    margin: 0px 0px 0px 0px;
}

.logo {
    font-weight: 400;
    font-family: "Six Caps", sans-serif;
    font-size: 70px;
    color: $logo-color;
}

.logoShop {
    font-weight: 400;
    font-family: "Six Caps", sans-serif;
    font-size: 35px;

    color: $logo-color;
    margin-top: -9px;
}

.shop > .logo {
    font-weight: 400;
    font-family: "Six Caps", sans-serif;
}

.image-size {
    height: 40px;
    width: 136px;
}

.nobg-nobd {
    background-color: $invisable-color;
    border-color: $invisable-color;
}

.test {
    background-color: $test-bg;
    border: 1px solid red;
}
